GATEWAY_PORT=3000
GATEWAY_RABBITMQ_USERNAME=hawkstatus
GATEWAY_RABBITMQ_PASSWORD=hawkstatus
GATEWAY_RABBITMQ_HOST=127.0.0.1
GATEWAY_RABBITMQ_PORT=5672
GATEWAY_PROCESSOR_RABBITMQ_QUEUE=processor
GATEWAY_RABBITMQ_USERNAME=hawkstatus
GATEWAY_RABBITMQ_PASSWORD=hawkstatus
GATEWAY_AUTH_RABBITMQ_QUEUE=auth
GATEWAY_BILLING_RABBITMQ_QUEUE=billing
GATEWAY_DATABASE_DRIVER=postgres
GATEWAY_DATABASE_HOST=127.0.0.1
GATEWAY_DATABASE_PORT=5432
GATEWAY_DATABASE_NAME=gateway
GATEWAY_DATABASE_USERNAME=hawkstatus
GATEWAY_DATABASE_PASSWORD=hawkstatus

AUTH_PORT=3001
AUTH_RABBITMQ_USERNAME=hawkstatus
AUTH_RABBITMQ_PASSWORD=hawkstatus
AUTH_RABBITMQ_HOST=127.0.0.1
AUTH_RABBITMQ_PORT=5673
AUTH_RABBITMQ_QUEUE=auth
AUTH_RABBITMQ_USERNAME=hawkstatus
AUTH_RABBITMQ_PASSWORD=hawkstatus
AUTH_DATABASE_DRIVER=postgres
AUTH_DATABASE_HOST=127.0.0.1
AUTH_DATABASE_PORT=5433
AUTH_DATABASE_NAME=auth
AUTH_DATABASE_USERNAME=hawkstatus
AUTH_DATABASE_PASSWORD=hawkstatus

BILLING_PORT=3002
BILLING_STRIPE_SECRET_KEY=
BILLING_STRIPE_WEBHOOK_SECRET_KEY=
BILLING_RABBITMQ_USERNAME=hawkstatus
BILLING_RABBITMQ_PASSWORD=hawkstatus
BILLING_RABBITMQ_HOST=127.0.0.1
BILLING_RABBITMQ_PORT=5674
BILLING_RABBITMQ_QUEUE=billing
BILLING_RABBITMQ_USERNAME=hawkstatus
BILLING_RABBITMQ_PASSWORD=hawkstatus
BILLING_DATABASE_DRIVER=postgres
BILLING_DATABASE_HOST=127.0.0.1
BILLING_DATABASE_PORT=5434
BILLING_DATABASE_NAME=billing
BILLING_DATABASE_USERNAME=hawkstatus
BILLING_DATABASE_PASSWORD=hawkstatus

PROCESSOR_PORT=3003
PROCESSOR_RABBITMQ_USERNAME=hawkstatus
PROCESSOR_RABBITMQ_PASSWORD=hawkstatus
PROCESSOR_RABBITMQ_HOST=127.0.0.1
PROCESSOR_RABBITMQ_PORT=5675
PROCESSOR_RABBITMQ_QUEUE=processor
PROCESSOR_RABBITMQ_USERNAME=hawkstatus
PROCESSOR_RABBITMQ_PASSWORD=hawkstatus
PROCESSOR_DATABASE_DRIVER=postgres
PROCESSOR_DATABASE_HOST=127.0.0.1
PROCESSOR_DATABASE_PORT=5435
PROCESSOR_DATABASE_NAME=processor
PROCESSOR_DATABASE_USERNAME=hawkstatus
PROCESSOR_DATABASE_PASSWORD=hawkstatus

SCHEDULER_PORT=3004
SCHEDULER_RABBITMQ_USERNAME=hawkstatus
SCHEDULER_RABBITMQ_PASSWORD=hawkstatus
SCHEDULER_RABBITMQ_HOST=127.0.0.1
SCHEDULER_RABBITMQ_PORT=5676
SCHEDULER_RABBITMQ_QUEUE=scheduler
SCHEDULER_RABBITMQ_USERNAME=hawkstatus
SCHEDULER_RABBITMQ_PASSWORD=hawkstatus
SCHEDULER_DATABASE_DRIVER=postgres
SCHEDULER_DATABASE_HOST=127.0.0.1
SCHEDULER_DATABASE_PORT=5436
SCHEDULER_DATABASE_NAME=scheduler
SCHEDULER_DATABASE_USERNAME=hawkstatus
SCHEDULER_DATABASE_PASSWORD=hawkstatus

NOTIFICATIONS_PORT=3005
NOTIFICATIONS_RABBITMQ_USERNAME=hawkstatus
NOTIFICATIONS_RABBITMQ_PASSWORD=hawkstatus
NOTIFICATIONS_RABBITMQ_HOST=127.0.0.1
NOTIFICATIONS_RABBITMQ_PORT=5677
NOTIFICATIONS_RABBITMQ_QUEUE=notifications
NOTIFICATIONS_RABBITMQ_USERNAME=hawkstatus
NOTIFICATIONS_RABBITMQ_PASSWORD=hawkstatus
NOTIFICATIONS_DATABASE_DRIVER=postgres
NOTIFICATIONS_DATABASE_HOST=127.0.0.1
NOTIFICATIONS_DATABASE_PORT=5437
NOTIFICATIONS_DATABASE_NAME=notifications
NOTIFICATIONS_DATABASE_USERNAME=hawkstatus
NOTIFICATIONS_DATABASE_PASSWORD=hawkstatus